@{
    ViewData["Title"] = "Contact";
}


<address>
    Beer Sheva<br />
    Brener 13,12<br />
    8465131
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com"></a>azrieldor@gmail.com<br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">noam051@gmail.com</a>
</address>
