
@{
    ViewData["Title"] = "ExistText";
}

<h2>ExistText</h2>
<b>Insert exist text by the folowing:</b><br />
    - Chose subject from the drop down list.<br />
    - Press the 'chose' button.<br />
    - Start reading voice<br />

@* api read for butons and signed text  *@
<script src="https://code.responsivevoice.org/responsivevoice.js?key=rN51gxxL"></script>

@*<script>
        //welcome messge
        setTimeout(responsiveVoice.speak("Welcome to Accessible Reader's Web site. In order for you to hear the text in an accessible way, there are four buttons through which you can perform the following actions. by pressing the 1 button to start the text from the beginning, by pressing the '2' button to pause at the point you are at .by pressing the '3' button You can continue reading from the same location using.by pressing the '4' button you can finish reading. To hear the tutorial again press 9."), 1500);
    </script>*@
<br />
<script type="text/javascript">

    function playText() {
        responsiveVoice.speak(document.getElementById("textid").textContent);
    }
    function pause() {
        responsiveVoice.pause();
    }
    function resume() {
        responsiveVoice.resume();
    }
    function cancel() {
        responsiveVoice.cancel();
    }
    function hint() {
        responsiveVoice.speak("Welcome to Accessible Reader's Web site. In order for you to hear the text in an accessible way, there are four buttons through which you can perform the following actions. by pressing the 1 button to start the text from the beginning, by pressing the '2' button to pause at the point you are at .by pressing the '3' button You can continue reading from the same location using.by pressing the '4' button you can finish reading. To hear the tutorial again press 9.")
    }
    function EnterTextToBox() {
        document.getElementById("textid").textContent = document.getElementById("textid").value;
        responsiveVoice.speak("Text is ready to use. prees 9 to hear Operating Instructions");
    }


</script>

<form>
    <label for="text"><font size="3">Chose book to display: </font></label><br />
    <select name="text" id="mySelect">
        <option value="history">History</option>
        <option value="geography">Geography</option>
        <option value="sciences">Sciences</option>
    </select>
    <button type="button" onclick="myFunction()">Chose</button>
</form>

<br />
<textarea name="comment" rows="10" cols="150" id="textid">

</textarea><br />
<button name="Start" onclick="playText()" style="height:100px;width:265px"><font size="5"><b>Start</b></font></button>
<button name="Pause" onclick="pause()" style="height:100px;width:265px"><font size="5"><b>Pause</b></font></button>
<button name="Play" onclick="resume()" style="height:100px;width:265px"><font size="5"><b>Play</b></font></button>
<button name="Stop" onclick="cancel()" style=" height:100px;width:265px"><font size="5"><b>Stop</b></font></button>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script>
        Mousetrap.bind('1', function (e) {
            playText();
        });
        Mousetrap.bind('2', function (e) {
            pause();
        });
        Mousetrap.bind('3', function (e) {
            resume();
        });
        Mousetrap.bind('4', function (e) {
            cancel();
        });
        Mousetrap.bind('9', function (e) {
            hint();
        });
    </script>
</head>

<p>
    <b>Welcome to Accessible Reader's Web site.</b><br /> In order for you to hear the text in an accessible way, there are four buttons through which you can perform the following actions:<br />
    by pressing the "1" button to start the text from the beginning.<br /> by pressing the "2" button to pause at the point you are at.<br /> by pressing the "3" button You can continue reading from the same location using.<br />
    by pressing the "4" button you can finish reading.<br />
    To hear the tutorial again press "9".<br /><br />

</p>





<script>
    function myFunction() {
        if (document.getElementById("mySelect").value === "history") {
            //document.getElementById("mySelect").value
            document.getElementById("textid").value = "The Industrial Revolution, now also known as the First Industrial Revolution, was the transition to new manufacturing processes in Europe and the United States, in the period from about 1760 to sometime between 1820 and 1840. This transition included going from hand production methods to machines, new chemical manufacturing and iron production processes, the increasing use of steam power and water power, the development of machine tools and the rise of the mechanized factory system. The Industrial Revolution also led to an unprecedented rise in the rate of population growth. Textiles were the dominant industry of the Industrial Revolution in terms of employment, value of output and capital invested. The textile industry was also the first to use modern production methods.";
            document.getElementById("textid").textContent = "The Industrial Revolution, now also known as the First Industrial Revolution, was the transition to new manufacturing processes in Europe and the United States, in the period from about 1760 to sometime between 1820 and 1840. This transition included going from hand production methods to machines, new chemical manufacturing and iron production processes, the increasing use of steam power and water power, the development of machine tools and the rise of the mechanized factory system. The Industrial Revolution also led to an unprecedented rise in the rate of population growth. Textiles were the dominant industry of the Industrial Revolution in terms of employment, value of output and capital invested. The textile industry was also the first to use modern production methods.";
        } else if (document.getElementById("mySelect").value === "geography") {
            document.getElementById("textid").value = "The future prime meridian based at the Royal Observatory, Greenwich, in London, England, was established by Sir George Airy in 1851. By 1884, over two - thirds of all ships and tonnage used it as the reference meridian on their charts and maps.In October of that year, at the behest of US President Chester A.Arthur, 41 delegates from 25 nations met in Washington, D.C., United States, for the International Meridian Conference.This conference selected the meridian passing through Greenwich as the official prime meridian due to its popularity. However, France abstained from the vote, and French maps continued to use the Paris meridian for several decades.In the 18th century, London lexicographer Malachy Postlethwayt published his African maps showing the 'Meridian of London' intersecting the Equator a few degrees west of the later meridian and Accra, Ghana.";
            document.getElementById("textid").textContent = "The future prime meridian based at the Royal Observatory, Greenwich, in London, England, was established by Sir George Airy in 1851. By 1884, over two - thirds of all ships and tonnage used it as the reference meridian on their charts and maps.In October of that year, at the behest of US President Chester A.Arthur, 41 delegates from 25 nations met in Washington, D.C., United States, for the International Meridian Conference.This conference selected the meridian passing through Greenwich as the official prime meridian due to its popularity. However, France abstained from the vote, and French maps continued to use the Paris meridian for several decades.In the 18th century, London lexicographer Malachy Postlethwayt published his African maps showing the 'Meridian of London' intersecting the Equator a few degrees west of the later meridian and Accra, Ghana.";

        } else if (document.getElementById("mySelect").value === "sciences") {
            document.getElementById("textid").value = "A molecule is an electrically neutral group of two or more atoms held together by chemical bonds.Molecules are distinguished from ions by their lack of electrical charge.However, in quantum physics, organic chemistry, and biochemistry, the term molecule is often used less strictly, also being applied to polyatomic ions.";
            document.getElementById("textid").textContent = "A molecule is an electrically neutral group of two or more atoms held together by chemical bonds.Molecules are distinguished from ions by their lack of electrical charge.However, in quantum physics, organic chemistry, and biochemistry, the term molecule is often used less strictly, also being applied to polyatomic ions.";

        }
        responsiveVoice.speak("Text is ready to use. press 9 to hear Operating Instructions");
    }
</script>



