
@{
    ViewData["Title"] = "StartRead";
}

<h2>StartRead</h2>
<p>edit your own text or choose exist text</p>
<button onclick="location.href='ExistText'">exist text</button>
<button onclick="location.href='EditText'">edit text</button>

